# Server Config
PORT=8001
# DB Config
DB_PORT=27017
DB_HOST=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_DATABASE=mongo
# Redis Config
REDIS_HOST= redis
REDIS_PORT= 6379
REDIS_PASSWORD= eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
REDIS_URL=redis://redis